

.chktitle {
  font-family: 'paybooc-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin: 10px 40px 0px;
  /* margin-top: 0; */
  /* position: absolute; */
  color: #000000;
}

.divider {
  margin: 0em;
  width: 80%;
  left : 200px;
  top: 135px;
  position: absolute;
}

.choolchk {
  
  /* font-family: 'Noto Sans KR'; */
  font-family: paybooc-Bold;
  font-size: 14px;
  display: inline;
  color: #000000;
  position: absolute;
  left: 230px;
  top: 145px;
}
.speaker {
  width: 20px;
  height:20px;
  left: 210px;
  top: 143px;
  position: absolute;
}


.Zandi {
  background-color: #474F56;
  width: 80%;
  height: 390px;
  position: absolute;
  left: 210px;
  top:200px;
}

.DR {
  font-family: 'paybooc-Bold';
  font-weight: bold;
  font-size: 35px;
  position:absolute;
  left: 610px;
  top: 640px;
}