body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 화면에서 스크롤바 안보이게 */
/* .outer::-webkit-scrollbar {
  display: none;
} */
.outer::-webkit-scrollbar {
  width: 10px;
}

.outer::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.outer::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.inner {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}

.bg-yellow > h1 {
  font-size: 60px;
  margin: 3% 10% 2% 1%;
}

.bg-blue > h1 {
  font-size: 60px;
  margin: 3% 10% 10% 1%;
}

.bg-yellow {
  background: linear-gradient(rgb(255, 255, 255), rgb(146, 146, 146));
}

.bg-pink {
  background: linear-gradient(rgb(146, 146, 146), rgb(0, 0, 0));
}

.hack {
  font-size: 100px;
  text-align: center;
  color: #fff;
}

.with {
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  color: #fff;
}

.logo {
  width: 50vh;
  margin-left: 39%;
}

.wht {
  width: 150vh;
  display: inline;
}

.text1 {
  display: inline;
}

@media (max-height: 700px) {
  .logo {
    width: 50vh;
    margin-left: 38%;
  }

  .bg-yellow > h1 {
    font-size: 50px;
    margin: 2% 10% 2% 1%;
  }

  .bg-blue > h1 {
    font-size: 50px;
    margin: 3% 10% 2% 3%;
  }
  .wht {
    width: 110vh;
  }
}
