.chkbox {
  position: absolute;
  width: 80%;
  height: 60%;
  left: 113px;
  top: 60px;
  
  background: #FFFFFF;
  border-radius: 20px;
}

.chkheader {
  flex-wrap: ;

}

.chktitle {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin-top: 0;
  
  color: #000000;
}

.choolchk {
  font-family: Noto Sans KR;
  /* font-style: normal; */
  /* font-weight: normal; */
  font-size: 20px;
  /* line-height: 35px; */
  /* align-items: center; */
  display: inline;
  /* margin: 0;
  padding: 0; */
 
color: #000000;
}