.title {
  position: absolute;
  font-family: paybooc-Bold;
  font-size: 45px;
  left: 30%;
  top: 20%;
  padding: 5px;
}
a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #f2921d;
}

a:active {
  color: #f2921d;
}

.sns_container {
  position: absolute;
  top: 40%;
  left: 45%;
}
.sns_aline {
  margin: 2px;
}

.sns_box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.sns_icon {
  width: 55px;
  height: 55px;
}

.sns_name {
  position: relative;
  display: inline-block;
  font-size: 20px;
  bottom: 20px;
  left: 10px;
}

@media screen and (max-width: 1248px) {
  .title {
    display: none;
  }
  .title:after {
    content: '덕성 멋사 10기 입니다.';
    /* font-size: 30px; */
    display: block;
  }
}
@media screen and (max-width: 560px) {
  .sns_name {
    display: none;
  }
} ;
