.mount1 {
  animation: 0.6s ease-in-out loadEffect2;
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.unmount1 {
  animation: 0.5s ease-in-out unloadEffect;
}

@keyframes unloadEffect {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 0;
  }
}

.mount2 {
  animation: 0.6s ease-in-out loadEffect2;
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.unmount2 {
  animation: 0.5s ease-in-out unloadEffect;
}

@keyframes unloadEffect {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 0;
  }
}

.mount3 {
  animation: 0.6s ease-in-out loadEffect2;
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.unmount3 {
  animation: 0.5s ease-in-out unloadEffect;
}

@keyframes unloadEffect {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 0;
  }
}

.nine > .title {
  font-size: 50px;
  position: relative;
  margin-left: 10%;
}

.nine > ul {
  margin: 14% 10% 10% 15%;
  position: relative;
  width: 960px;
}

.nine > ul:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  padding: 20px 0;
  width: 3px;
  height: 100%;
  background-color: #eee;
}
.nine > ul li {
  position: relative;
  margin-bottom: 20px;
  width: 50%;
}
.nine > ul li:before {
  content: ' ';
  display: block;
  position: absolute;
  top: -4px;
  left: 85.3333%;
  width: 75px;
  height: 38px;
  background-image: url(https://surc.or.kr/assets/icon-history-72e35a81b533771b1d598ddb83c79a8a761f88f76248478975f944c06bffefb8.png);
  background-size: 78px 38px;
}
.nine > ul li:nth-child(odd) {
  padding-left: 59.5%;
}
.nine > ul li:nth-child(odd):before {
  transform: rotate(180deg);
  left: 45.3333%;
  right: auto;
}
.nine > ul li h4 {
  padding-top: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #3f454b;
  font-weight: bold;
}
.nine > ul li p {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.01rem;
  color: #707984;
  word-break: keep-all;
}

.nine > ul li span {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: 0px;
  width: 320px;
  height: 180px;
  background-image: url('../img/9idea.png');
}
.nine > ul li .photo2 {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 320px;
  height: 180px;
  background-image: url('../img/invisible.png');
}

.nine > ul li .photo3 {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 320px;
  background-image: url('../img/hck9.png');
}

.nine > ul li span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -35px;
  font-size: 14px;
}

.nine {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.nine::-webkit-scrollbar {
  width: 15px;
}

.nine::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.nine::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

@media (max-height: 700px) {
  .nine > .title {
    font-size: 50px;
    position: relative;
  }

  .nine > ul {
    margin: 12% 10% 10% 5%;
    position: relative;
    width: 960px;
  }
}

.container-wrap > button {
  padding: 10px 25px;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  border: 3px solid #b70050;
  color: #b8b8b8;
  margin-right: 1%;
  margin-top: 2%;
}

.container-wrap > button:hover {
  background-color: #b70050;
  color: #ffeee4;
}
