/* 수정 : Login.module.css 제작 */
.login {
  /* background-color: #0D0D0D; */
  background:url(../img/back.png);
  background-size:cover;
  height: 100vh;
  /* min-width:500px; */
  min-width:768px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'paybooc-Bold';
}

.wrapper{
  z-index:3;
  width: 50.27vw;
  max-width:724px;
  padding:0px 6.11%;
  height: 44.44vw;
  max-height:640px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction:column;
  background:  rgba(255,255,255,0.9);
}
/* wrapper의 상단 welcome 부분 */
.top{
  height:40%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginTitle{
  font-weight:700;
  font-family: 'paybooc-ExtraBold';
  font-size:3.47vw;
}

.bottom{
  display: flex;
  height:60%;
  width:100%;
}
/* wrapper의 좌측 input 부분 */
.leftside{
  flex:2 2 0;

  text-align: right;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.inputDiv{
  position:relative;
  display:grid;
  grid-template-columns: 7% 93%;
  width:38.75vw;
  max-width:558px;
  height:4.5vw;
  margin:20px 0;
  padding:5px 0 5px 10px;
  align-items: center;
  background-color: #CAC6C8;
  margin-top:0;
}

.inputDiv.one{
  margin-bottom:22px;
}
.inputDiv.two{
  margin-bottom:4px;
}
.i{
  display:flex;
  justify-content: center;
  align-items: center;
}
.ic{
  font-size:1.85vw;
}

.inputDiv > div{
  position:relative;
  height:100%;
}

.input{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border:none;
  outline:none;
  background: none;
  padding:0rem 0.7rem;
  font-size:2.08vw;
  font-family: 'paybooc-Bold';
  color:black;
}

.signupAnnounce{
  font-size:1.38vw;
  margin-top:13px;
}
.signupLink{
  color:#F2921D;
  font-family: 'paybooc-Bold';
}

@media screen and (min-width:1440px){/*웹 너비가 1440px 이상일 경우*/
  .signupAnnounce{
    font-size:20px;
  }
}

/* wrapper의 우측 버튼 부분 */
.rightside{
  flex:1 1 0;
}
.submit{
  background-color:#B70050;
  color:white;
  font-family: 'paybooc-Bold';
  font-size:2.08vw;
  text-align: center;
  width:9.375vw;
  height:11.45vw;
  margin-left:31px;
  border-style:none;
}

@media screen and (max-width:768px) {/* 웹 너비가 625px 이하일 경우*/
  .wrapper{
    width:386px;
    height: 614px;
    padding:0px 47px;
  }
  .loginTitle{
    font-size:27px;
  }
  .bottom{
    flex-direction: column;
  }
  .leftside{
    align-items: center;
    flex:1 1;
  }
  .inputDiv{
    width:308px;
    height:34.55px;
  }
  .ic{
    font-size:14px;
  }
  .input{
    font-size:15px;
  }
  .rightside{
    display: flex;
    justify-content: center;
  }
  .signupAnnounce{
    display: flex;
    flex-direction: column;
    font-size:13px;
    line-height:18px;
    width:297px;
  }
  .submit{
    margin-top:2vw;
    width:318px;
    max-width:558px;
    height:34.55px;
    margin-top:14.88px;
    margin-left:0;
    font-size:15.84px;
  }
}
