.studybody {
  padding: 20px;
}

.studybody h1 {
  font-family: paybooc_ExtraBold;
  font-size: 25px;
}

#studyItemRight h2 {
  font-family: paybooc_ExtraBold;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.writediv {
  width: max-content;
  margin: 0 0 0 auto;
}

#studywrite {
  background-color: #b70050;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#studyItemRight {
  margin-left: 15px;
  display: block;
  width: 300px;
}

.table th {
  color: #b70050;
  margin-right: 15px;
  line-height: 1.7rem;
  width: 50px;
  text-align: start;
}

.table td {
  color: #686c73;
}

.contentdiv {
  width: fit-content;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  overflow-y: hidden;
}

#studyItem {
  display: flex;
  margin: 5px 20px 20px 20px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .contentdiv {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 700px) {
  #studyItem {
    display: block;
  }
}

.contentdiv a {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 120px 1fr;
  margin: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.head {
  color: #b70050;
  font-size: 20px;
}

.item {
  font-size: 20px;
}

.detailtitle {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.detaildate {
  text-align: right;
}

.studynewform label {
  font-size: 20px;
}

.stip {
  margin: 10px 0 15px 0;
  height: 30px;
  border: 1px solid #c4c4c4;
  box-shadow: inset 0px 2px 3px #c4c4c4;
  padding: 0px 10px 0 10px;
}

.stip:read-only {
  background-color: #c4c4c4;
  color: gray;
}

.stip:focus {
  outline: none;
}

.studynewform textarea {
  margin: 10px 0 10px 0;
}

.savebutton {
  text-align: right;
}
.stbt {
  color: white;
  background: #686c73;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
}

.deleteBT {
  color: white;
  background: #686c73;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin-right: 15px;
}

.modifyBT {
  color: white;
  background: #686c73;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.studybutton {
  text-align: right;
}
