@font-face {
  font-family: 'NotoSansKR';
  src: url('./font/NotoSansKR-Regular.otf');
}
@font-face {
  font-family: 'paybooc-Bold';
  src: url('./font/paybooc-Bold.otf');
}
@font-face {
  font-family: 'paybooc_ExtraBold';
  src: url('./font/paybooc-ExtraBold.otf');
}
@font-face {
  font-family: 'paybooc_Light';
  src: url('./font/paybooc-Light.otf');
}
@font-face {
  font-family: 'paybooc_Media';
  src: url('./font/paybooc-Medium.otf');
}