body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @font-face {
  font-family: 'NotoSansKR';
  src: url('./font/NotoSansKR-Regular.otf');
} */
@font-face {
  font-family: 'paybooc-Bold';
  src: url('./font/paybooc-Bold.otf');
}
@font-face {
  font-family: 'paybooc_ExtraBold';
  src: url('./font/paybooc-ExtraBold.otf');
}
@font-face {
  font-family: 'paybooc_Light';
  src: url('./font/paybooc-Light.otf');
}
@font-face {
  font-family: 'paybooc_Medium';
  src: url('./font/paybooc-Medium.otf');
}
